doctype html
head
    meta(charset='utf-8')
    meta(name='viewport')
    link(rel='stylesheet' href='404Style.css')
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC' crossorigin='anonymous')
    title 404
style.
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
.container(style='padding: 10%; padding-left: 16%; text-align: left; color: white;')
    p(style='font-size: 80px;') 404
    p(style='font-size: 40px;') Nothing to see here
    br
    a.btn.btn-outline-light.btn-lg(href='/') Back to Home
svg(style='position: absolute; bottom: 0; z-index: -100;' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 1440 320')
    path(fill='#0099ff' fill-opacity='1' d='M0,224L48,192C96,160,192,96,288,90.7C384,85,480,139,576,144C672,149,768,107,864,128C960,149,1056,235,1152,229.3C1248,224,1344,128,1392,80L1440,32L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z')
script(src='/script.js')
