extends layout

append link
    link(rel="stylesheet" href="/dashboard.css")

block content
    .col.py-3
        // Header
        .container.mt-3
            .d-grid.mt-4.mb-3(style='color: white;')
                h1(style='font-size: 2.5rem;') Home
        .container.mt-3
            img.rounded-circle(style='width: 4em;height: 4em;' src='/img/pic.png')
            span.text-white.ms-3(style='font-size: 1.8rem;') Final Web Application Hospital
            .d-flex.mt-5(style='border-left: 0.4em solid white')
                .greeting.col-9.text-white.ms-3.d-flex.flex-column.justify-content-center(style='line-height: 3.8em;')
                    p(style='font-size: 3.5em;') Hello,
                    p(style='font-size: 3.5em;')= user.firstName
                .col-2.avatar-admin.d-flex.justify-content-end
                    img(src='/img/pic.png' alt='avatar-admin' style='width: 14em; height: 18em; border-radius: 7em 7em 0 0;border:0.5em solid white')