@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
html {
    height: 100%;
}
body{
    background-image: linear-gradient(to bottom left, #CB1AE8, #37BDA6);
}